*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0; 
}

body{
    background-color: #1A9B5A;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    padding: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.container-1{
    padding: 5px;
}
.container-1 img{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 8px;
    margin-left: 129px;
    padding: 5px;

}

.qrcode{
    padding: 25px;
    height: 300px;
    width: 300px;
}